<!--Mid-->
<div class="col-sm-7 iftaContainer">
    <form class="form-horizontal" role="form" name="iftaForm" novalidate>
        <div class="form-group">
            <span class="col-sm-4 message-general-warning">* All fields are required</span>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Account Number:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" maxlength="8" name="accountNumber"
                       ng-model="accountNumber" ng-minlength="8" ng-pattern="/^(0|[1-9][0-9]*)$/"
                       required>
            </div>
            <div ng-show="submitted" role="alert" class="col-sm-3 error">
                <div ng-show="iftaForm.accountNumber.$error.pattern
                        || iftaForm.accountNumber.$error.required ||iftaForm.accountNumber.$error.minlength">
                    Value is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Filing Year:</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" maxlength="4" name="filingYear"
                       ng-model="filingYear" ng-minlength="4" ng-pattern="/^(0|[1-9][0-9]*)$/"
                       required>
            </div>
            <label class="control-label col-sm-1">yyyy</label>
            <div ng-show="submitted" role="alert" class="col-sm-3 error">
                <div ng-show="iftaForm.filingYear.$error.pattern
                        || iftaForm.filingYear.$error.required ||iftaForm.filingYear.$error.minlength">
                    Value is mandatory
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Period:</label>
            <div class="col-sm-2">
                <div class="radio" ng-repeat="period in periods">
                    <label>
                        <input type="radio" name="periodRadio" value="{{period.quarter}}" equired/>
                        {{period.quarter}}
                    </label>
                </div>
            </div>
            <div ng-show="submitted" role="alert" class="col-sm-3 error">
                <div ng-show="iftaForm.periodRadio.$invalid">
                    Value is mandatory
                </div>
            </div>
</div>

        <div class="form-group">
            <label class="control-label col-sm-2">Type of Filing</label>
            <div class="col-sm-2">
                <div class="radio">
                    <label><input type="radio" name="filingRadio"/>Original</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="filingRadio"/>Amended</label>
                </div>
            </div>
        </div>

        <br/>

        <div class="form-group">
            <div class="col-sm-4">
                <a type="Cancel" class="btn btn-default" style="margin-right:20px;">
                    cancel
                </a>
                <a href="#/iftaSelection.html" type="Next" class="btn btn-primary">
                    Submit
                </a>
            </div>
        </div>
    </form>
</div>

<!--right-->
<div class="col-sm-2 tips">
    <label class="control-label">Tips:</label>
    <ul>
        <li>Coming soon</li>
    </ul>
</div>