
<!--Mid-->
<div class="col-sm-7 iftaContainer">
    <form class="form-horizontal" role="form" ifta-account-head="acntHead"></form>

    <hr>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-12">Diesel Fuel Schedule</label>
        </div>
        <div class="form-group">
            <p class="col-sm-12 message-general-warning">* All fields are required</p>
        </div>
    </form>

    <table id="iftaFT" border="1" width="100%">
        <tr class="headColor">
            <th align="center" class="headerStyle">
                D1 Jurisdiction
            </th>
            <th align="center" class="headerStyle">
                Tax Rate End Date
            </th>
            <th align="center" class="headerStyle">
                D4 Total Miles
            </th>
            <th align="center" class="headerStyle">
                D5 Taxable Miles
            </th>
            <th align="center" class="headerStyle">
                D7 Tax-Paid Gallons
            </th>
            <th align="center" class="headerStyle">
                Action
            </th>
        </tr>

        <tr ng-repeat="scheduleData in scheduleDatas">
            <td align="center">
                <select class="form-control iftaSelect" ng-init="jurdctns[0]"
                        ng-model="scheduleData.D1" ng-options="jurdctn for jurdctn in jurdctns">
                    <option value="">--Select--</option>
                </select>
            </td>

            <td align="center">
                <input calendar type="text" class="form-control input-left datepicker"
                       ng-model="scheduleData.taxEndDate"/>
            </td>

            <td align="center">
                <input type="text" class="form-control input-right" ng-model="scheduleData.D4">
            </td>

            <td align="center">
                <input type="text" class="form-control input-right" ng-model="scheduleData.D5">
            </td>

            <td align="center">
                <input type="text" class="form-control input-right" value="0" ng-model="scheduleData.D7">
            </td>

            <td align="center">
                <a class="linkGernal" ng-if="$last" ng-click="addScheduleData()" style="padding-right:10px">Add</a>
                <a class="linkGernal"  ng-click="deleteScheduleData($index)">Delete</a>
            </td>

        </tr>

        <tr>
            <td colspan="6" align="center" class="footColor" ng-show="!scheduleDatas.length" >
                <a class="linkGernal" ng-click="addScheduleData()">Click to Start the Jurisdiction Schedule</a>
            </td>
        </tr>

    </table>

    <div>
        <a href="#/iftaSchedule" type="Cancel" class="btn btn-primary" style="margin-top:20px;">
            Return to Summary
        </a>
    </div>

</div>